.darkness-container-grid {
  max-width: 300px;
}

.darkness-flex {
  display: flex;
}

.darkness-flex-center {
  justify-content: center;
}

.darkness-result {
  font-family: monospace;
  text-align: center;
}

#spinner {
  width: 92px;
  height: 92px;
  margin-left: 92px;
}

.hidden {
  display: none;
}

.card > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('./welcome_card.jpg') left / cover;
}